- return if group.marked_for_deletion?
- remove_form_id = local_assigns.fetch(:remove_form_id, nil)
- date = permanent_deletion_date_formatted(group, Time.now.utc)

= render Pajamas::CardComponent.new(header_options: { class: 'gl-px-5 gl-py-4 gl-border-b-1 gl-border-b-solid gl-border-gray-100' }, body_options: { class: 'gl-bg-red-50 gl-px-5 gl-py-4' }) do |c|
  - c.with_header do
    .gl-flex.gl-grow
      %h4.gl-text-base.gl-leading-24.gl-m-0.gl-text-red-500= _('Delete group')

  - c.with_body do
    = form_tag(group, method: :delete, id: remove_form_id) do
      %p
        = html_escape(_("This group and its subgroups and projects will be placed in a 'pending deletion' state for %{deletion_delayed_period} days, then permanently deleted on %{date}. The group can be fully restored before that date.")) % { date: tag.strong(date), deletion_delayed_period: deletion_adjourned_period }
        = link_to _('Learn more.'), help_page_path('user/group/index', anchor: 'delete-a-group'), target: '_blank', rel: 'noopener noreferrer'

      = render 'groups/settings/remove_button', group: group, remove_form_id: remove_form_id
