- page_title s_('Workspaces|Workspaces')
- header_title  _("Your work"), root_path
- nav 'your_work'
- add_page_specific_style 'page_bundles/remote_development'

#js-workspaces{ data: {
    options: {
      workspaces_list_path: remote_development_workspaces_path,
      empty_state_svg_path: image_path('illustrations/empty-state/empty-workspaces-md.svg'),
      default_max_hours_before_termination: RemoteDevelopment::Settings.get_single_setting(:default_max_hours_before_termination)
    }.to_json
  }
}
