- return unless @new_license.present?

= render ::Layouts::SettingsBlockComponent.new(_('Add License'),
  id: 'js-add-license-toggle',
  expanded: expanded_by_default?,
  button_options: { data: { testid: 'expand-add-license-button' } }) do |c|
  - c.with_description do
    - if License.current
      = _('To continue using GitLab Enterprise Edition, upload the %{codeOpen}.gitlab-license%{codeClose} file or enter the license key you have received from GitLab Inc.').html_safe % {codeOpen: '<code>'.html_safe, codeClose: '</code>'.html_safe}
    - else
      = _('To start using GitLab Enterprise Edition, upload the %{codeOpen}.gitlab-license%{codeClose} file or enter the license key you have received from GitLab Inc.').html_safe % {codeOpen: '<code>'.html_safe, codeClose: '</code>'.html_safe}
  - c.with_body do
    - eula_url = "#{ApplicationHelper.promo_url}/terms/#subscription"
    - eula_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: eula_url }

    = gitlab_ui_form_for @new_license, url: admin_license_path, html: { name: 'addLicense', multipart: true, class: 'fieldset-form', autocomplete: 'off' } do |f|
      .form-group
        = f.gitlab_ui_radio_component :license_type, :file, _('Upload %{file_name} file').html_safe % { file_name: '<code>.gitlab-license</code>'.html_safe }, radio_options: { name: 'license_type', checked: @new_license.data.blank? }

        .form-group.license-file.gl-mt-4
          #js-license-new-app

        .gl-my-4
          = f.gitlab_ui_radio_component :license_type, :key, _('Enter license key'), label_options: { data: { testid: 'license-type-key-radio-label' } }, radio_options: { checked: @new_license.data.present?, name: 'license_type' }
        .form-group.license-key.hidden
          = f.label :data, _('License key'), class: 'gl-sr-only'
          = f.text_area :data, class: "form-control license-key-field", data: { testid: 'license-key-field' }, rows: 20

      %h4.gl-font-base= _("Terms of service")

      .form-group
        = render Pajamas::CheckboxTagComponent.new(name: :accept_eula,
          value: nil,
          checked: false,
          label_options: { data: { testid: 'accept-eula-checkbox-label' } }) do |c|
          - c.with_label do
            = _('Unless otherwise agreed to in writing with GitLab, by selecting "Add License" you agree that your use of GitLab Software is subject to the %{eula_link_start}Terms of Service%{eula_link_end}.').html_safe % { eula_link_start: eula_link_start, eula_url: eula_url, eula_link_end: '</a>'.html_safe }

      = f.submit _('Add license'), pajamas_button: true, data: { testid: 'license-upload-button' }, disabled: true
