.block {
  &.weight {
    // stylelint-disable-next-line gitlab/no-gl-class
    .gl-field-error {
      margin-top: $gl-padding-8;
      margin-left: -6px;
      display: flex;
      align-items: center;
    }
  }
}

.health-status {
  line-height: $gl-line-height;

  .status {
    &-at-risk {
      color: $red-500;
      background-color: $red-100;
    }

    &-needs-attention {
      color: $orange-700;
      background-color: $orange-50;
    }

    &-on-track {
      color: $green-600;
      background-color: $green-100;
    }
  }

  // stylelint-disable-next-line gitlab/no-gl-class
  .gl-label-text {
    font-weight: $gl-font-weight-bold;
    font-size: 0.75rem;
  }
}

.issuable-assignees {
  a:not(.btn) {
    color: inherit;
  }
}
