// stylelint-disable-next-line gitlab/no-gl-class
.gl-banner {
  .bg-duo-pro {
    background-color: $brand-charcoal;
  }

  .rounded-bottom-right-9 {
    border-bottom-right-radius: $gl-spacing-scale-9;
  }
}
